<div id="form">

  <%= form_for @workspace do |f| %>
    <%= f.label :category %><br>
    <%= f.select :category do %>
      <%= ["Coffee Shop", "Library", "Cafe", "Academic Commons"]. each do |category| %>
        <%= content_tag(:option, category, value: category) %>
        <% end %>
    <% end %><br>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :address %><br>
    <%= f.text_field :address %><br>


    <%= f.label :company_url %><br>
    <%= f.text_field :company_url %><br>

    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %><br>

    <%= f.label :hours %><br>
    <%= f.text_field :hours %><br>

    <%= f.label "How's the Wifi?"%><br>
    <%= f.text_field :wifi%><br>


    <%= f.submit %>

  <% end %>


</div>
