<h1>All Workspaces with Free WiFi</h1>

<ul>
  <% @workspaces.each do |workspace| %>
    <%= image_tag workspace.image_url %>
    <li><%= link_to workspace.name, workspace %></li>
    <li><%= workspace.address %></li>
    <li><%= workspace.category %></li>
    <li><%= link_to "#{workspace.name} website", workspace.company_url %></li>
    <li><%= workspace.hours %></li>
  <% end %>
</ul>
