<h1 class="showtitle"><%= @workspace.name %></h1>

<% if !@reviews.blank? %>
  <h2>Average Rating: </h2>
  <p><span id="average_rating"></span> (<%= @reviews.count %> <%= @reviews.count != 1 ? "Reviews" : "Review" %>)</p>
<% end %>


<ul>
    <%= image_tag @workspace.image_url, class: "showimg" %>
    <li><%= link_to @workspace.name, @workspace %></li>
    <li><%= @workspace.address %></li>
    <li><%= @workspace.category %></li>
    <li><%= link_to "Workspace website", @workspace.company_url %></li>
    <li><%= @workspace.hours %></li>
</ul>

  <div class="reviews-list">
    <h3>Reviews</h3>
    <%= render "reviews/index" %>
  </div>

  <div class="reviews-new">
    <% if !@hasReview && current_user %>
      <%= render "reviews/form" %>
    <% elsif !current_user %>
      <p>
        Please log in to leave a review!
      </p>
    <% end %>
  </div>

<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @workspace.average_rating %>
  })
</script>
