<%= form_for [@workspace, @review] do |f| %>
  <div id="user_stars"></div>
  <%= f.text_field :comment, placeholder: "comment here" %>

  <%= f.hidden_field :workspace_id, value: @workspace.id %>
  <%= f.hidden_field :user_id, value: current_user.id %><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('#user_stars').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
</script>
