<!DOCTYPE html>
<html>
<head>
  <title>WifinderApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="navbar">
    <ul>
      <li><%= link_to "All Workspaces", workspaces_path %></li>
    </ul>
  </div>
</header>

<div class="msg">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
