<!DOCTYPE html>
<html>
<head>
 <title>WifinderApp</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
   <div class="navbar">
       <ul>
         <%= link_to (image_tag "wifinder_white.png"), root_path %>
         <% if !current_user %>
           <li><%= link_to "Sign Up", new_user_registration_path %></li>
           <li><%= link_to "Sign In", new_user_session_path %></li>
         <% else %>
           <li><%= link_to "Add New Workspace", new_workspace_path %></li>
           <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
         <% end %>
         <li><%= link_to "All Workspaces", workspaces_path %></li>

       </ul>
     </div>
   </div>
  </header>
<div class="page-wrap">

  <div class="msg">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

</div>

  <div class="container">
   <%= yield %>
  </div>

</div>
<footer class="site-footer">

 <div class="footer">
   <ul>
     <li>About&nbsp;</li>||
     <li>Contact&nbsp;</li>||
     <li>Careers</li>
   </ul>
 </div>

</footer>


</body>
</html>
